# 2023 Towson University Data Analytics Competition



### Objectives
##### 1. Employee Utilization (eu)
- Group & sort clients by eu (high to low)
- DGroup & sort employees by eu (high to low)
- Filter
     
##### 2. Profitability
- Group & sort clients by total amount 
- Group and sort profitability by year and quarter

In [190]:
import time
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [198]:
df = pd.read_csv('Towson_SCHGROUP_data.csv')  
df.head(10)

,ClientNum,Date,DeptID,DeptName,EmployeeId,BillType,Hours,BillRate,TotalAmount
0,CLT3670,1/7/2019,0,No Selection,0,NonBillable,1.50,$-,$-
1,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.25,$-,$-
2,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.75,$-,$-
3,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
4,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.75,$-,$-
5,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.25,$-,$-
6,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
7,CLT3670,1/7/2019,0,No Selection,0,NonBillable,5.50,$-,$-
8,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
9,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.00,$0.62,$-

### Compute Utilization rate

### Compute Utilization Rate

In [193]:
def utilization(field,id_str, H):
    hours = H.loc[H[field] == id_str]
    billable = sum(list(hours.loc[hours['BillType'] == 'Billable']["Hours"]))
    nonbillable = sum(list(hours.loc[hours['BillType'] == 'NonBillable']["Hours"]))
    total = billable + nonbillable
    try:
        util_data = {"id":id_str,
                    "billable":billable,
                    "nonbillable":nonbillable,
                    "total":total,
                    "billable_ratio": int(round(((billable/total) * 100),2))}
                  
    except:
        util_data = {"id":id_str,
                    "billable":billable,
                    "nonbillable":nonbillable,
                    "total":total,
                    "billable_ratio": 0}
    return (util_data)

### Employee Utilization

In [194]:
def return_ratio_data():
    hours = df[["EmployeeId", "BillType", "Hours"]]
    ids = list(hours.EmployeeId.unique())
    data = []
    for i in tqdm(range(len(ids)-1)):
        data.append(utilization("EmployeeId",ids[i], hours))
        time.sleep(.01)
    return data
df1 = pd.DataFrame(return_ratio_data())

100%|██████████| 507/507 [00:08<00:00, 60.38it/s]

In [195]:
df1_sorted = df1.sort_values('billable_ratio', ascending=False)
ind_std = df1_sorted[df1_sorted['billable_ratio'] >= 80]
pd.set_option('display.max_rows', None)
ind_std.to_csv('/Users/Yousefmacer/Documents/school/data_competition/ouput/employee_util.csv', index=False)
ind_std.head(10)

       id  billable  nonbillable    total  billable_ratio
506  1515     92.85          0.0    92.85             100
68    624   1524.33          0.0  1524.33             100
392  1400    732.30          0.0   732.30             100
397  1405   4470.00          0.0  4470.00             100
413  1421    121.60          0.0   121.60             100
429  1437    126.35          0.0   126.35             100
430  1438    200.85          0.0   200.85             100
431  1439    136.35          0.0   136.35             100
432  1440    102.55          0.0   102.55             100
69    649    609.95          0.0   609.95             100

### Client Utilization

In [196]:
def return_ratio_data():
    hours = df[["ClientNum", "BillType", "Hours"]]
    ids = list(hours.ClientNum.unique())
    data = []
    for i in tqdm(range(len(ids)-1)):
        data.append(utilization("ClientNum",ids[i], hours))
        time.sleep(.01)
    return data

df2 = pd.DataFrame(return_ratio_data())

100%|██████████| 3048/3048 [04:02<00:00, 12.56it/s]

In [197]:
df2_sorted = df2.sort_values('billable_ratio', ascending=False)
ind_std = df2_sorted[df2_sorted['billable_ratio'] >= 80]
pd.set_option('display.max_rows', None)
ind_std.to_csv('/Users/Yousefmacer/Documents/school/data_competition/ouput/client_util.csv', index=False)
ind_std.head(10)

           id  billable  nonbillable    total  billable_ratio
1524  CLT2612     10.80          0.0    10.80             100
2031  CLT2824    327.25          0.0   327.25             100
2022  CLT2764     80.25          0.0    80.25             100
2023  CLT3007    142.50          0.0   142.50             100
2024  CLT2090     10.50          0.0    10.50             100
2025  CLT2555     24.30          0.0    24.30             100
2026  CLT2992   1014.65          0.0  1014.65             100
2027  CLT2816    307.25          0.0   307.25             100
2028  CLT2125    834.43          0.0   834.43             100
2029  CLT2031   1353.05          0.0  1353.05             100