# 2023 Towson University Data Analytics Competition



### Objectives
##### 1. Employee Utilization (eu)
- Group & sort clients by eu (high to low)
- DGroup & sort employees by eu (high to low)
- Filter
     
##### 2. Profitability
- Group & sort clients by total amount 
- Group and sort profitability by year and quarter

In [62]:
import time
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [73]:
df = pd.read_csv('SCHGROUP_data.csv')  
df.head(10)

,ClientNum,Date,DeptID,DeptName,EmployeeId,BillType,Hours,BillRate,TotalAmount
0,CLT3670,1/7/2019,0,No Selection,0,NonBillable,1.50,$-,$-
1,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.25,$-,$-
2,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.75,$-,$-
3,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
4,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.75,$-,$-
5,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.25,$-,$-
6,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
7,CLT3670,1/7/2019,0,No Selection,0,NonBillable,5.50,$-,$-
8,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.50,$-,$-
9,CLT3670,1/7/2019,0,No Selection,0,NonBillable,0.00,$0.62,$-

In [64]:
hours = df[["EmployeeId", "ClientNum", "BillType", "Hours"]]
employee_ids = list(hours.EmployeeId.unique())
client_ids =list(hours.ClientNum.unique())

### Compute Utilization Rate

In [65]:
def get_rates(field):
    if field == "employee_id":
        ids = list(hours.EmployeeId.unique())
        field = "EmployeeId"
    elif field == "client_id":
        ids =list(hours.ClientNum.unique())
        field = "ClientNum"
    util_rates = []
    for i in tqdm(ids):
        df = hours.loc[hours[field]==i]
        billable = float(sum(list(df.loc[df['BillType'] == 'Billable']["Hours"])))
        nonbillable = float(sum(list(df.loc[df['BillType'] == 'NonBillable']["Hours"])))
        total = billable + nonbillable

        try:
            data = {field:i,
                    "billable":billable,
                    "total":total,
                    "ratio": float(round(((billable/total) * 100),2))}
            util_rates.append(data)
        except:
            data["billable_ratio"]=0
    new_df = pd.DataFrame(util_rates)
    return new_df

### Employee Utilization

In [66]:
e_rates = get_rates("employee_id")
e_rates.to_csv("/Users/Yousefmacer/Github/sch-group/ouput/employee_rates.csv", index=False)

100%|██████████| 508/508 [00:01<00:00, 347.18it/s]

### Client Utilization

In [67]:
c_rates = get_rates("client_id")
#c_rates.to_csv("/Users/Yousefmacer/Github/sch-group/ouput/client_rates.csv", index=False)

100%|██████████| 3049/3049 [03:14<00:00, 15.64it/s]