# 2023 Towson University Data Analytics Competition



### Objectives
##### 1. Employee Utilization (eu)
- Group & sort clients by eu (high to low)
- Group & sort employees by eu (high to low)
- Filter
     
##### 2. Profitability
- Group & sort clients by total amount 
- Group and sort profitability by year and quarter

In [42]:
import time
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('SCHGROUP_data.csv')  
df.columns

Index(['ClientNum', 'Date', 'DeptID', 'DeptName', 'EmployeeId', 'BillType',
       'Hours', 'BillRate', 'TotalAmount'],
      dtype='object')

In [44]:
hours = df[["EmployeeId", "ClientNum", "BillType", "Hours"]]
employee_ids = list(hours.EmployeeId.unique())
client_ids =list(hours.ClientNum.unique())

### Utilization Rate

In [45]:
def get_rates(field):
    if field == "employee_id":
        ids = list(hours.EmployeeId.unique())
        field = "EmployeeId"
    elif field == "client_id":
        ids =list(hours.ClientNum.unique())
        field = "ClientNum"
    util_rates = []
    for i in tqdm(ids):
        df = hours.loc[hours[field]==i]
        billable = float(sum(list(df.loc[df['BillType'] == 'Billable']["Hours"])))
        nonbillable = float(sum(list(df.loc[df['BillType'] == 'NonBillable']["Hours"])))
        total = billable + nonbillable

        try:
            data = {field:i,
                    "billable":billable,
                    "total":total,
                    "ratio": float(round(((billable/total) * 100),2))}
            util_rates.append(data)
        except:
            data["billable_ratio"]=0
    new_df = pd.DataFrame(util_rates)
    return new_df

### Employee Utilization

In [46]:
#path = "/Users/Yousefmacer/Github/sch-group/ouput/employee_rates.csv"
#e_rates = get_rates("employee_id")
#e_rates.to_csv(path, index=False)

### Profitability

In [47]:
grouped = df.groupby('ClientNum')
total_amounts = grouped['TotalAmount'].sum()

client_totals = []
for client_num, total_amount in total_amounts.iteritems():
    filtered_list = []
    amounts = total_amount.split("$")
    for value in amounts:
        v= value.strip()
        try:filtered_list.append(float(v))
        except:pass
    total = round(sum(filtered_list),2)
    client_totals.append({"ClientNum":client_num, "Profit": total})

client_totals = pd.DataFrame(client_totals)
path = "/Users/Yousefmacer/Github/sch-group/ouput/client_totals.csv"
client_totals.to_csv(path, index=False)
client_totals

     ClientNum    Profit
0      CLT1000   6728.63
1      CLT1001   6817.12
2      CLT1002  19634.80
3      CLT1003   5710.54
4      CLT1004  20823.96
...        ...       ...
3044   CLT4044   8468.00
3045   CLT4045  11360.46
3046   CLT4046    290.92
3047   CLT4047  58319.97
3048   CLT4048  79674.58

[3049 rows x 2 columns]